div {
  text-align: center;
  font-family: Georgia;
  background-color: #e6f9ff;
}

.header {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #99ccff;
  display: block;
  font-size: 3em;
  width: 100%;
}

.container {
  width: 100%;
  display: table;
  table-layout: fixed;
  border: none;
}  

.links {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #0059b3;
  display: table-cell;
}

div a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #d9d9d9;
}
  
p {
  font-size: 1em;
  font-family: Georgia;
  text-align: left;
}

h6 {
  font-size: 1.15em;
  font-family: Georgia;
}

div p a {
  color: black;
  text-decoration: none;
}

table {
  border: 1px;
  font-family:Georgia;
  font-size: 1em;
}

img {
  width: 100%;
}

.header2 {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2em;
}

table {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

h6 {
  text-align: left;
  font-size: 1.1em;
}
